Source: bash-sessions
Maintainer: Alessandro Grassi <alessandro.g89@gmail.com>
Section: shells
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: bash-sessions
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bash, diffutils, bsdutils
Suggests: libgtk-3-bin
Priority: optional
Section: shells
Description: Session manager for the Bash shell
 bash_sessions lets you save and restore multiple shell "sessions". A session is identified by an arbitrary alphanumeric name, and it includes the following data:
 .
 * working directory
 * command history
 * environment variables
 * output of the commands printed on the screen (up to the last 1000 lines)
 .
 You will find this useful if you tipycally work with multiple terminal windows which have different usage patterns (e.g. for software compilation/installation, for navigating/searching files, for network troubleshooting...). If you use different sessions, you can close a terminal window, re-open it later and restore it to exactly the same state as when you closed it.
